body {
  background-color: rgb(244, 222, 203);
}

h1 {
  font-family: Arial;
  color: rgb(73, 39, 74);
}

input {
  width: 100%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(100,100,100);
  background-color: rgb(244, 222, 203);
  color: rgb(50, 50, 50);
  text-align: right;
  font-size: 26px;
  font-family: Arial;
}

input:focus {
  border-color: green
}

table {
  width: 700px;
}

td {
  font-size: 26px;
  font-family: Arial;
}

button {
  width: 700px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 26px;
  background-color: rgb(148, 97, 142);
  color: white;
  border: none;
}

button:hover {
  filter: brightness(85%);
}

.resultStyle {
  outline: 0;
  border-width: 0 0 2px;
  background-color: rgb(244, 222, 203);
  text-align: right;
  font-size: 26px;
  font-family: Arial;
  order-width: 0 0 2px;
  border-color: rgb(100, 100, 100);
  color: rgb(50, 50, 50);
}



